* {
  margin: 0;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 50px 50px;
  font-size: 1.1rem;
  font-weight: 500;
}

button {
  background-color: rgb(0, 157, 255);
  border-radius: 25px;
  height: 35px;
  border: none;
  color: white;
  font-weight: 800;
}

span {
  padding-top: 10px;
}

li > img {
  height: 20px;
  width: 20px;
  align-self: start;
  filter: brightness(0) invert(1);
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

.sidebar {
  padding-top: 10px;
  display: grid;
  grid-row: 1/4;
  background-color: rgb(0, 157, 255);
  padding-left: 10px;
  grid-template-rows: 1fr 1fr;
  grid-column: 1/2;
  color: white;
}

.sidebar .top {
  display: grid;
  grid-row: 1/2;
  grid-template-rows: 1fr 4fr;
}

.sidebar .top > p {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 8px;
}

.sidebar .top > p > img {
  filter: brightness(0) invert(1);
  height: 3rem;
  width: 3rem;
}

.sidebar .bottom {
  grid-row: 3/4;
}

.sidebar .top > div {
  display: grid;
  gap: 60px;
  padding-left: 5px;
}

.sidebar .top > div > ul {
  display: grid;
  gap: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.search {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: white;
  padding: 10px 30px 7px 25px;
}

.search .bar {
  display: grid;
  grid-template-columns: 0.5fr 20fr;
}

form {
  width: 550px;
  align-items: center;
}

label {
  padding-right: 15px;
  padding-top: 15px;
}

.search .bar > img {
  height: 22px;
  width: 22px;
  padding-top: 2px;
}

.search .bar [type="text"] {
  border: none;
  border-radius: 10px;
  width: 500px;
  height: 25px;
  background-color: rgb(229, 229, 229);
  padding-left: 5px;
}

.search .name {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
}

.noti {
  height: 22px;
  width: 22px;
}

.profile-1 {
  height: 30px;
  width: 30px;
}

.profile-2 {
  height: 60px;
  width: 60px;
  align-self: start;
}

.profile {
  display: grid;
  grid-template-columns: 3fr 2fr;
  background-color: white;
  padding-bottom: 15px;
}

.profile > div {
  display: grid;
  grid-template-columns: 1fr 8fr;
  padding-left: 75px;
}

.profile > div + div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-right: 75px;
  align-items: center;
}

.projects {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(231, 230, 230);

  padding: 30px 0 33px 25px;
}

.proj_cont > h3 {
  padding-bottom: 13px;
  font-weight: 550;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  padding-right: 20px;
}

.card {
  height: 175px;
  border-radius: 5px;
  background-color: white;
  padding: 35px 13px 0 30px;
  border-left: 8px solid rgb(255, 217, 0);
}

.trend ul {
  list-style: none;
}

.text {
  font-weight: 400;
  color: gray;
  font-size: 0.875rem;
}

.title {
  padding-bottom: 5px;
}

.right-side {
  padding-right: 25px;
}

.announce > h3 {
  font-weight: 550;
  padding-bottom: 13px;
}

.an_title {
  font-size: 0.9rem;
  padding-bottom: 3px;
}

.an_text {
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;
}

.announce .top {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.announcement {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: white;
  border-radius: 5px;
  padding: 0 30px 0 30px;
}

.announcement > * {
  padding: 30px 0 30px 0;
}

.announcement > *:nth-child(-n + 2) {
  border-bottom: solid rgb(218, 218, 218);
}

.trend > h3 {
  font-weight: 550;
  padding-bottom: 13px;
}

.trend > div > img {
  height: 65px;
  width: 65px;
  padding-right: 5px;
}

.trend > div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: white;
  padding-left: 10px;
  border-radius: 5px;
  padding-top: 10px;
}

.trend > div > div {
  align-self: center;
}

.username {
  font-size: 0.9rem;
  padding-bottom: 3px;
}
.desc {
  font-size: 0.75rem;
  color: gray;
  font-weight: 400;
}
