* {
  margin: 0;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 50px 50px;
  font-size: 1.1rem;
  font-weight: 500;
}

span {
  padding-top: 10px;
}

li > img {
  height: 20px;
  width: 20px;
  align-self: center;
  filter: brightness(0) invert(1);
}

.roboto-text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
}

.sidebar {
  padding-top: 10px;
  display: grid;
  grid-row: 1/4;
  background-color: rgb(0, 157, 255);
  padding-left: 10px;
  grid-template-rows: 1fr 1fr;
  grid-column: 1/2;
  color: white;
}

.sidebar .top {
  display: grid;
  grid-row: 1/2;
  grid-template-rows: 1fr 4fr;
}

.sidebar .top > p {
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 8px;
}

.sidebar .top > p > img {
  filter: brightness(0) invert(1);
  height: 3rem;
  width: 3rem;
}

.sidebar .bottom {
  grid-row: 3/4;
}

.sidebar .top > div {
  display: grid;
  gap: 60px;
  padding-left: 5px;
}

.sidebar .top > div > ul {
  display: grid;
  gap: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.search {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: red;
}

.search .bar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.search .name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: red;
}

.profile > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile > div + div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.projects {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: chartreuse;
}

.article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
}

.card {
  border: 1px solid black;
  height: 150px;
}

.trend ul {
  list-style: none;
}
